input:after{
    content: "*";
}
#form_gallery fieldset{
    float:left;
    width:47%;
    border: 1px dashed #777;
    border-width: 0px 1px 0px 0px;
    margin: 5px 20px 5px 5px;
}
#form_gallery label {
    display: inline-block;
    margin: 3px 5px;
    width: 150px;
}
#form_gallery textarea{
    width: 600px;
    height:400px;
}
#form_gallery input[type="submit"]{
    width:200px;
}
#form_gallery input{
    width:600px;
}
#global-preview{
    font-size:0.9em;
}
#global-preview input, #local-preview input{
    width:3em;
    padding:0px;
    border:none;
    text-align: center;
}
input[name="image-name"]{
    width:100%;
}
